<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tairoroberto.qualimsolucoes" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicialActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal" >
        </activity>
        <activity
            android:name=".TarefasVisualizarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CronogramaInserirActivity"
            android:label="@string/title_activity_cronograma" >
        </activity>
        <activity
            android:name=".CronogramaVerActivity"
            android:label="@string/title_activity_cronograma" >
        </activity>
        <activity
            android:name=".RelatoriosCadastVisitaTecActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_relatorios" >
        </activity>
        <activity
            android:name=".PrestacaoContasInserirActivity"
            android:label="@string/title_activity_prestacao_contas" >
        </activity>
        <activity
            android:name=".PrestacaoContasVerActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".RelatoriosCadastAuditoriaActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".RelatoriosCadastCheckListActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".RelatoriosVisualAuditoriaActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".RelatoriosVisualCheckListActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".RelatoriosVisualVisitaTecActivity"
            android:label="@string/title_activity_prestacao_contas_ver" >
        </activity>
        <activity
            android:name=".PerfilAlterarFotoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PerfilAlterarAssinaturaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PerfilAlterarSenhaActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
